<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9gppHD21FZ10vPCqnyzSSQdAbY9dUpaA</string>
	<key>GCM_SENDER_ID</key>
	<string>209814928851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jasarumahku</string>
	<key>PROJECT_ID</key>
	<string>jasarumahkuauth</string>
	<key>STORAGE_BUCKET</key>
	<string>jasarumahkuauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209814928851:ios:ec9a4f8e4b3a611a4b0326</string>
	<key>DATABASE_URL</key>
	<string>https://jasarumahkuauth-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>